<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">

<head>
    <title>Penyimpanan Berhasil</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <h1 th:text="'Fasilitas ' + ${fasilitas.namaFasilitas} + ' berhasil ditambahkan ke ruangan ' + ${ruangan.namaRuangan}"></h1>
    <a th:href="@{/ruangan/view/{idRuangan}(idRuangan=${ruangan.idRuangan})}" th:text="'Lihat detail ruangan ' + ${ruangan.namaRuangan}"></a>
</div>
</body>
</html>