<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <title>View All Anggota</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <div class="card align-items-center text-center">
        <div class="card-header" style="background:#ffffff;">
            <h1>Daftar Pengadaan Fasilitas</h1>
        </div>
    </div>
    <table class="table">
        <span style="color: red" th:text="${notif}"></span>
        <thead class="thead-dark">
        <tr>
            <th scope="col">NO</th>
            <th scope="col">NAMA</th>
            <th scope="col">HARGA</th>
            <th scope="col">JUMLAH</th>
            <th scope="col">STATUS</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pengadaan, iterationStatus : *{listPengadaan}">
            <th scope="row" th:text="${iterationStatus.count}"></th>
            <td th:text="${pengadaan.nama}"></td>
            <td th:text="${pengadaan.harga}"></td>
            <td th:text="${pengadaan.jumlah}"></td>
            <td>
                <span th:if="${pengadaan.status == 0}">Usulan Pengguna</span>
                <span th:IF="${pengadaan.status == 1}">Menunggu Persetujuan</span>
                <span th:IF="${pengadaan.status == 2}">Ditolak</span>
                <span th:IF="${pengadaan.status == 3}">Disetujui</span>
            </td>
            <td>
                <a th:href="@{/pengadaan-fasilitas/hapus/}+${pengadaan.idPengadaan}" class="btn btn-danger text-white">HAPUS</a>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-primary">
        <a th:href="@{/pengadaan-fasilitas/add}" class="btn btn-primary text-white"> Ajukan Pengadaan Fasilitas</a>
    </button>
</div>
<footer th:replace="fragments/fragment ::footer"></footer>
</body>
</html>