<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">

<head>
    <title> Home </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br>
            <h2>Detil Data Ruangan</h2>
            <p th:text="'Nama : ' + ${ruangan.namaRuangan}"></p>
            <p th:text="'Kapasitas : ' + ${ruangan.kapasitasRuangan}"></p>
            <br>
            <h5>Daftar Fasilitas</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="card-body col-md-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Jumlah di Ruangan</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="fasilitas, iterationStatus : *{fasilitasJumlah}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${fasilitas.key.namaFasilitas}"></td>
                    <td th:text="${fasilitas.value}"></td>
                </tr>
                </tbody>
            </table>
            <br>
            <div class="text-center">
                <a th:href= "@{/ruangan/peminjaman(idRuangan = ${idRuangan})}"> <button type="button" class="btn btn-primary">Pinjam Ruangan Ini!</button> </a>
            </div>

        </div>
    </div>

</div>
<footer th:replace="fragments/fragment ::footer"></footer>
</body>
</html>