<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="main-layout">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        <th:block th:replace="${title} ?: ~{}"></th:block>
    </title>
    <th:block th:fragment="css">
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <!-- Material Kit CSS -->
        <link href="/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    </th:block>
    <th:block th:fragment="js">
    </th:block>
</head>
<body>
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" >
        <div class="logo">
            <a class="simple-text logo-normal">
                <img th:src="@{/images/logo.png}" alt="Avatar" class="avatar" style="width:50px; height:50px;">
            </a>
        </div>
        <div th:if="${role}=='ROLE_Admin TU'" class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                <a class="nav-link" th:href="@{/}">
                <i class="material-icons">dashboard</i>
                <p>Home</p>
                </a>
                </li>
                <li class="nav-item ">
                <a class="nav-link" th:href="@{/user/profile}">
                <i class="material-icons">person</i>
                <p>Profile</p>
                </a>
                </li>
                <li class="nav-item ">
                <a class="nav-link" th:href="@{/ruangan/daftar-ruangan}">
                <i class="material-icons">room</i>
                <p>Ruangan</p>
                </a>
                </li>
                <li class="nav-item ">
                <a class="nav-link"  th:href="@{/user/add-user}" >
                <i class="material-icons">add</i>
                <p>Tambah Anggota</p>
                </a>
                </li>
                <li class="nav-item ">
                <a class="nav-link" th:href="@{/logout}">
                <i class="material-icons">input</i>
                <p>Logout</p>
                </a>
                </li>

            </ul>
        </div>
        <div th:if="${role}=='ROLE_Guru'" class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                <a class="nav-link" th:href="@{/}">
                <i class="material-icons">dashboard</i>
                <p>Home</p>
                </a>
                </li>
                <li class="nav-item ">
                <a class="nav-link" th:href="@{/user/profile}">
                <i class="material-icons">person</i>
                <p>Profile</p>
                </a>
                </li>
                <li class="nav-item ">
                <a class="nav-link" th:href="@{/pengadaan-fasilitas}">
                <i class="material-icons">add</i>
                <p>Pengadaan Fasilitas</p>
                </a>
                </li>
                <li class="nav-item ">
                <a class="nav-link" th:href="@{/ruangan/daftar-peminjaman-ruangan}">
                <i class="material-icons">search</i>
                <p>Status Peminjaman</p>
                </a>
                </li>
                <li class="nav-item ">
                <a class="nav-link" th:href="@{/fasilitas/tambah-fasilitas}">
                <i class="material-icons">room</i>
                <p>Fasilitas</p>
                </a>
                </li>
                <li class="nav-item ">
                <a class="nav-link" th:href="@{/logout}">
                <i class="material-icons">input</i>
                <p>Logout</p>
                </a>
                </li>
            </ul>
        </div>
        <div th:if="${role}=='ROLE_Siswa'" class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">
                        <i class="material-icons">dashboard</i>
                        <p>Home</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/user/profile}">
                        <i class="material-icons">person</i>
                        <p>Profile</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/pengadaan-fasilitas}">
                        <i class="material-icons">add</i>
                        <p>Pengadaan Fasilitas</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/ruangan/daftar-peminjaman-ruangan}">
                        <i class="material-icons">search</i>
                        <p>Status Peminjaman</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/fasilitas/tambah-fasilitas}">
                        <i class="material-icons">room</i>
                        <p>Fasilitas</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/logout}">
                        <i class="material-icons">input</i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
        <!--<div class="sidebar-wrapper">-->
            <!--<ul class="nav">-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" th:href="@{/}">-->
                        <!--<i class="material-icons">dashboard</i>-->
                        <!--<p>Home</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="nav-item ">-->
                    <!--<a class="nav-link" th:href="@{/user/profile}">-->
                        <!--<i class="material-icons">person</i>-->
                        <!--<p>Profile</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="nav-item ">-->
                    <!--<a class="nav-link" th:href="@{/ruangan/daftar-ruangan}">-->
                        <!--<i class="material-icons">room</i>-->
                        <!--<p>Ruangan</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="nav-item ">-->
                    <!--<a class="nav-link" th:href="@{/pengadaan-fasilitas}">-->
                        <!--<i class="material-icons">add</i>-->
                        <!--<p>Pengadaan Fasilitas</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="nav-item ">-->
                    <!--<a class="nav-link" th:href="@{/ruangan/daftar-peminjaman-ruangan}">-->
                        <!--<i class="material-icons">search</i>-->
                        <!--<p>Status Peminjaman</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="nav-item ">-->
                    <!--<a class="nav-link" th:href="@{/fasilitas/tambah-fasilitas}">-->
                        <!--<i class="material-icons">room</i>-->
                        <!--<p>Fasilitas</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="nav-item ">-->
                    <!--<a class="nav-link"  th:href="@{/user/add-user}" >-->
                        <!--<i class="material-icons">add</i>-->
                        <!--<p>Tambah Anggota</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="nav-item ">-->
                    <!--<a class="nav-link" th:href="@{/logout}">-->
                        <!--<i class="material-icons">input</i>-->
                        <!--<p>Logout</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--&lt;!&ndash; your sidebar here &ndash;&gt;-->
            <!--</ul>-->
        <!--</div>-->
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a th:text="${#httpServletRequest.remoteUser}" th:href="@{/user/profile}" class="nav-link dropdown-toggle text-muted waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        </li>
                        <!-- your navbar here -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <!-- your content here -->
                <th:block th:replace="${content} ?: ~{}"></th:block>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="float-left">
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com">
                                © 2019 Vote for Setiaki
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- your footer here -->
            </div>
        </footer>
    </div>
</div>
</body>
</html>