<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/fragment :: main-layout (title=~{:: title}, head=~{:: header}, content=~{:: content})">

<title th:remove="tag">Home</title>
<header th:remove="tag">Home</header>

<content th:remove="tag">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <br>
            <h1>Berhasil menambah anggota baru</h1>
            <a href="/">Kembali ke Home</a>
            <br>
        </div>
    </div>
</div>
</content>
</html>