<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/fragment :: main-layout (title=~{:: title}, head=~{:: header}, content=~{:: content})">

<title th:remove="tag">Tambah Pengadaan</title>
<header th:remove="tag">Tambah Pengadaan</header>

<content th:remove="tag">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <br>
            <h1>Pengajuan Pengadaan Fasilitas Gagal</h1>
            <br>
            <h3>Silahkan Coba Lagi</h3>
            <br>
            <a th:href="@{/pengadaan-fasilitas/add}" class="btn btn-primary">Coba Lagi</a>
        </div>
    </div>
</div>
</content>
</html>