<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="fragments/fragment :: main-layout (title=~{:: title}, head=~{:: header}, content=~{:: content})">

<title th:remove="tag">Form Edit Ruangan</title>
<header th:remove="tag">Form Edit Ruangan</header>

<content th:remove="tag">
    <div class="container-fluid">
    <div class="row text-center">
        <div class="col">
            <div class="card" style="width: 50rem; margin: 0 auto; float: none; margin-bottom: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Edit Fasilitas Ruangan</h5>
                    <form th:action="@{/fasilitas/edit}" method="POST">
                        <input name="idFasilitasRuang" id="idFasilitasRuang" type="hidden" th:value="${idFasilitasRuang}">
                        <div class="form-group row">
                            <label for="idRuangan" class="col-sm-3 col-form-label">Nama Ruangan</label>
                            <div class="col-sm-9">
                                <input name="namaRuangan" id="idRuangan" class="form-control" th:value="${namaRuangan}" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="idFasilitas" class="col-sm-3 col-form-label">Nama Fasilitas</label>
                            <div class="col-sm-9">
                                <input name="namaFasilitas" id="idFasilitas" class="form-control" th:value="${namaFasilitas}" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="jumlahFasilitas" class="col-sm-3 col-form-label">Jumlah Fasilitas</label>
                            <div class="col-sm-9">
                                <input name="jumlahFasilitas" id="jumlahFasilitas" type="number" class="form-control"
                                       th:value="${jumlahFasilitas}">
                            </div>
                        </div>
                        <button type="submit" name="addRow" class="btn btn-primary">Edit Jumlah Fasilitas</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>