<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/fragment :: main-layout (title=~{:: title}, head=~{:: header}, content=~{:: content})">

<title th:remove="tag">Form Tambah Fasilitas Ke Ruangan</title>
<header th:remove="tag">Form Tambah Fasilitas Ke Ruangan</header>


<content th:remove="tag">
<div class="container-fluid">
    <div class="row text-center">
        <div class="col">
            <div class="card" style="width: 50rem; margin: 0 auto; float: none; margin-bottom: 10px;">
                <div class="card-body">
                    <h5 class="card-title">Tambah Fasilitas ke Ruangan</h5>
                    <form th:action="@{/fasilitas/tambah-fasilitas}" method="POST">
                        <div class="form-group row">
                            <label for="idRuangan" class="col-sm-2 col-form-label">Ruangan</label>
                            <div class="col-sm-10">
                                <select name="idRuangan" class="form-control" id="idRuangan">
                                    <option th:each="ruangan : ${listRuangan}" th:value="${ruangan.idRuangan}"
                                            th:text="${ruangan.namaRuangan}" class="form-control"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="idFasilitas" class="col-sm-2 col-form-label">Fasilitas</label>
                            <div class="col-sm-10">
                                <select name="idFasilitas" class="form-control" id="idFasilitas">
                                    <option th:each="fasilitas : ${listFasilitas}" th:value="${fasilitas.idFasilitas}"
                                            th:text="${fasilitas.namaFasilitas}" class="form-control"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="jumlahFasilitas" class="col-sm-2 col-form-label">Jumlah Fasilitas</label>
                            <div class="col-sm-10">
                                <input name="jumlahFasilitas" id="jumlahFasilitas" type="number" class="form-control"
                                       placeholder="Jumlah Fasilitas" required="true" min="1">
                            </div>
                        </div>
                        <button type="submit" name="addRow" class="btn btn-primary">Tambah Fasilitas</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</content>
</html>