<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/fragment :: main-layout (title=~{:: title}, head=~{:: header}, content=~{:: content})">

<title th:remove="tag">Tambah Anggota</title>
<header th:remove="tag">Tambah Anggota</header>

<content th:remove="tag">
    <div class="container-fluid">
                <div class="row">
                        <div class="col-lg-8 col-xlg-9 col-md-7">
                                <h2>Tambah Anggota</h2>
                                <div class="card">
                                    <div class="card-block">
                                      
                                        <form th:action="@{/user/add-user}" method="POST" class="form-horizontal form-material"> 
                                            <div class="form-group">
                                                <label class="col-md-12">Full Name</label>
                                                <div class="col-md-12">
                                                    <input type="text" name="nama" placeholder="Irene Pixelyne" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Username</label>
                                                <div class="col-md-12">
                                                    <input type="text" name="username" placeholder="irenepixelyne" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Password</label>
                                                <div class="col-md-12">
                                                    <input type="password" name="password" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Select Role</label>
                                                <div class="col-sm-12">
                                                        <select name="role" class="form-control form-control-line">
                                                            <option selected value=""> Guru </option>
                                                            <option th:each="roleAvailable : ${listRole}" th:value="${roleAvailable.idRole}" th:text="${roleAvailable.nama}"></option>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Place of Birth</label>
                                                <div class="col-md-12">
                                                    <input type="text" name="tempatLahir" placeholder="Jakarta" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Date of Birth</label>
                                                <div class="col-md-12">
                                                    <input type="date" name="tanggalLahir" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Address</label>
                                                <div class="col-md-12">
                                                    <input type="text" name="alamat" placeholder="Jakarta" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Phone Number</label>
                                                <div class="col-md-12">
                                                    <input type="number" name="telepon" placeholder="02156789" class="form-control form-control-line">
                                                </div>
                                            </div>
                                        
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <button type="submit" class="btn btn-success">Add Anggota</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                </div>

            </div>
        </div>
    </content>
    </html>
