<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/fragment :: main-layout (title=~{:: title}, head=~{:: header}, content=~{:: content})">

<title th:remove="tag">Mengajukan Pengadaan Buku</title>
<header th:remove="tag">Mengajukan Pengadaan Buku</header>


<content th:remove="tag">
<div class="container-fluid">
    <div class="card">
        <div class="card-header" style="background:#ffffff;">
            <h1>Ajukan Pengadaan Buku</h1>
        </div>
        <div class="card-body">
            <form th:action="@{/pengadaan-buku}" th:object="${buku}" method="POST">
                <span style="color: greenyellow" th:text="${notif}"></span>
                <div class="form-group-row">
                    <label class="col-sm-2 col-form-label">Judul: </label>
                    <div class="col-sm-10">
                        <input type="text" name="judul"  class="form-control" th:field="*{judul}" required="true" placeholder="Judul Buku"/>
                    </div>
                </div>
                <div class="form-group-row">
                    <label class="col-sm-2 col-form-label">Pengarang: </label>
                    <div class="col-sm-10">
                        <input type="text" name="pengarang"  class="form-control" th:field="*{pengarang}" required="true" placeholder="Nama Pengarang"/>
                    </div>
                </div>
                <div class="form-group-row">
                    <label class="col-sm-2 col-form-label">Penerbit: </label>
                    <div class="col-sm-10">
                        <input type="text" name="penerbit"  class="form-control" th:field="*{penerbit}" required="true" placeholder="Nama Penerbit"/>
                    </div>
                </div>
                <div class="form-group-row">
                    <label class="col-sm-2 col-form-label">Jumlah: </label>
                    <div class="col-sm-10">
                        <input type="number" name="jumlah" th:field="*{jumlah}" class="form-control" required="true" placeholder="Jumlah"/>
                    </div>
                </div>
                <div class="form-group-row">
                    <label class="col-sm-2 col-form-label">Harga: </label>
                    <div class="col-sm-10">
                        <input type="number" name="harga" th:field="*{harga}" class="form-control" required="true" placeholder="Harga"/>
                    </div>
                </div>
                <br>
                <div class="form-group-row">
                    <div class="col-sm-10">
                        <button class="btn btn-primary" style="color: white" type="submit" name="submit"> Submit </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</content>
</html>