<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">

<head>
    <title> Tambah Anggota </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <div class="container h-100 align-items-center">
            <br>
            <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-dark text-white" align="left"> <h2> Tambah Anggota Baru</h2></div>
                    <div class="card-body">
                        <form th:action="@{/user/add-user}" method="POST"> 
                            <label> Nama </label>
                            <input type="text" name="nama" class="form-control"/>

                            <label> User Name </label>
                            <input type="text" name="username" class="form-control"/>
                            
                            <label> Password </label>
                            <input type="password" name="password" class="form-control"/>
                        
                            <label> Role </label>
                            <select name="role" class="form-control">
                                <option selected value=""> -- Pilih Role -- </option>
                                <option th:each="roleAvailable : ${listRole}" th:value="${roleAvailable.idRole}" th:text="${roleAvailable.nama}"></option>
                            </select>

                            <label> Tempat Lahir </label>
                            <input type="text" name="tempatLahir" class="form-control"/>

                            <label> Tanggal Lahir </label>
                            <input type="date" name="tanggalLahir" class="form-control"/>

                            <label> Alamat </label>
                            <input type="text" name="alamat" class="form-control"/>

                            <label> Telepon </label>
                            <input type="number" name="telepon" class="form-control"/>

                            <br>
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <footer th:replace="fragments/fragment ::footer"></footer>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="/image/png" sizes="16x16" href="/images/favicon.png">
    <title> Home </title>
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/colors/blue.css" id="theme" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar card-no-border">
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <b>
                            <span>
                                <img src="/images/logo.png" width="50" height="50" class="dark-logo">
                            </span>
                        </b>
                    </a>
                </div>
         
                <div class="navbar-collapse">
                 
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" class="form-control" placeholder="Cari ruangan.."> <a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <img src="/images/1.png" alt="user" class="profile-pic m-r-5" />
                            <a th:text="${#httpServletRequest.remoteUser}" th:href="@{/user/profile}" class="nav-link dropdown-toggle text-muted waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
       
        <aside class="left-sidebar">
          
            <div class="scroll-sidebar">
             
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a th:href="@{/}" class="waves-effect">Home</a>
                        </li>
                        <li>
                            <a th:href="@{/ruangan/daftar-ruangan}" class="waves-effect">Ruangan</a>
                        </li>
                        <li>
                            <a th:href="@{/pengadaan-fasilitas}" class="waves-effect">Pengadaan Fasilitas</a>
                        </li>
                        <li>
                            <a th:href="@{/ruangan/daftar-peminjaman-ruangan}" class="waves-effect">Status Peminjaman</a>
                        </li>
                        <li>
                            <a th:href="@{/fasilitas/tambah-fasilitas}" class="waves-effect">Fasilitas</a>
                        </li>
                        <li class="active">
                            <a th:href="@{/user/add-user}" class="waves-effect">Tambah Anggota</a>
                        </li>
                    </ul>
                    <div class="text-center m-t-30">
                        <a th:href="@{/logout}" class="btn btn-danger">Logout<span class="sr-only">(current)</span></a>
                    </div>
                </nav>
           
            </div>
          
        </aside>
      
        <div class="page-wrapper">
            
            <div class="container-fluid">
                <div class="row">
                        <div class="col-lg-8 col-xlg-9 col-md-7">
                                <div class="card">
                                    <div class="card-block">
                                        <h4 class="card-title">Add Anggota</h4>
                                        <form th:action="@{/user/add-user}" method="POST" class="form-horizontal form-material"> 
                                            <div class="form-group">
                                                <label class="col-md-12">Full Name</label>
                                                <div class="col-md-12">
                                                    <input type="text" name="nama" placeholder="Irene Pixelyne" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Username</label>
                                                <div class="col-md-12">
                                                    <input type="text" name="username" placeholder="irenepixelyne" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Password</label>
                                                <div class="col-md-12">
                                                    <input type="password" name="password" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Select Role</label>
                                                <div class="col-sm-12">
                                                        <select name="role" class="form-control form-control-line">
                                                            <option selected value=""> Guru </option>
                                                            <option th:each="roleAvailable : ${listRole}" th:value="${roleAvailable.idRole}" th:text="${roleAvailable.nama}"></option>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Place of Birth</label>
                                                <div class="col-md-12">
                                                    <input type="text" name="tempatLahir" placeholder="Jakarta" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Date of Birth</label>
                                                <div class="col-md-12">
                                                    <input type="date" name="tanggalLahir" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Address</label>
                                                <div class="col-md-12">
                                                    <input type="text" name="alamat" placeholder="Jakarta" class="form-control form-control-line">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-12">Phone Number</label>
                                                <div class="col-md-12">
                                                    <input type="number" name="telepon" placeholder="02156789" class="form-control form-control-line">
                                                </div>
                                            </div>
                                        
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <button type="submit" class="btn btn-success">Add Anggota</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                </div>
        </div>
        <footer class="footer text-center">
            © 2019 Vote for Setiaki
        </footer>
    </div>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/tether.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/jquery.slimscroll.js"></script>
    <script src="js/waves.js"></script>
    <script src="js/sidebarmenu.js"></script>
    <script src="/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="/plugins/flot/jquery.flot.js"></script>
    <script src="/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="js/flot-data.js"></script>
    <script src="/plugins/styleswitcher/jQuery.style.switcher.js"></script>
</body>

</html>
