<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/fragment :: main-layout (title=~{:: title}, head=~{:: header}, content=~{:: content})">

<title th:remove="tag">Home</title>
<header th:remove="tag">Home</header>

<content th:remove="tag">
    <div class="container-fluid">
            <div class="row">
                    <div class="col-md-12">
                            <h2>Selamat datang di SI-RUANGAN</h2>
                            <h3>SI-RUANGAN adalah aplikasi bagi anggota dari SMA Rajin dan Tekun (SMART) untuk melakukan peminjaman fasilitas</h3>
                    </div>
                </div>
        <div class="row">
                <div class="col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="milestone-title">
                                        <h4 class="card-title">Milestone 1</h4>
                                </div>
                              
                                <div class="card-body">
                                    <ul>
                                        <li>Halaman Utama</li>
                                        <li>Menambah Fasilitas</li>
                                        <li>Menampilkan Detail Ruangan</li>
                                        <li>Mengajukan Peminjaman Ruangan</li>
                                        <li>Mengajukan Pengadaan Fasilitas</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-block">
                                    <div class="milestone-title">
                                            <h4 class="card-title">Milestone 2</h4>
                                    </div>
                               
                                <div class="card-body">
                                    <ul>
                                        <li>Log in dan Log out</li>
                                        <li>Daftar Fasilitas untuk SI-Koperasi</li>
                                        <li>Membuat Pengadaan Buku ke SI-Perpustakaan</li>
                                        <li>Menampilkan User Profie</li>
                                        <li>Menambah User</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-block">
                                        <div class="milestone-title">
                                                <h4 class="card-title">Milestone 3</h4>
                                        </div>
                                    <div class="card-body">
                                        <ul>
                                            <li>Menampilkan Daftar Pengajuan Pengadaan Fasilitas</li>
                                            <li>Menghapus Pengajuan Pengadaan Fasilitas</li>
                                            <li>Mengubah Jumlah Fasilitas</li>
                                            <li>Menghapus Fasilitas</li>
                                            <li>Menampilkan Daftar Pengajuan Peminjaman Ruangan</li>
                                            <li>Mengubah Persetujuan Peminjaman Ruangan</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

    </div>
    </div>
</content>
</html>