<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/fragment :: main-layout (title=~{:: title}, head=~{:: header}, content=~{:: content})">

<title th:remove="tag">Daftar Ruangan</title>
<header th:remove="tag">Daftar Ruangan</header>


<content th:remove="tag">
    <div class="container-fluid">
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <h2>Daftar Ruangan</h2>
                        <div class="card">
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="thead">
                                            <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">ID Ruangan</th>
                                            <th scope="col">Nama Ruangan</th>
                                            <th scope="col">Kapasitas Ruangan</th>
                                            </tr>
                                        </thead>
                                        <tbody th:each="ruangan, iterationStatus : ${listRuanganModel}">
                                            <tr>
                                                <th scope="row" th:text="${iterationStatus.count}"></th>
                                                <td th:text="${ruangan.idRuangan}"></td>
                                                <td><a th:text="${ruangan.namaRuangan}" th:href="@{/ruangan/view/} + ${ruangan.idRuangan}"></a></td>
                                                <td th:text="${ruangan.kapasitasRuangan}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</content>
</html>
