<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/fragment :: main-layout (title=~{:: title}, head=~{:: header}, content=~{:: content})">

<title th:remove="tag">Penyimpanan Berhasil</title>
<header th:remove="tag">Penyimpanan Berhasil</header>


<content th:remove="tag">
<div class="container-fluid">
    <h1 th:text="'Fasilitas ' + ${fasilitas.namaFasilitas} + ' berhasil ditambahkan ke ruangan ' + ${ruangan.namaRuangan}"></h1>
    <a th:href="@{/ruangan/view/{idRuangan}(idRuangan=${ruangan.idRuangan})}" th:text="'Lihat detail ruangan ' + ${ruangan.namaRuangan}"></a>
</div>
</content>
</html>