<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="fragments/fragment :: main-layout (title=~{:: title}, head=~{:: header}, content=~{:: content})">

<title th:remove="tag">Success Edit</title>
<header th:remove="tag">Success Edit</header>

<content th:remove="tag">
    <div class="container-fluid">
    <h1 th:text="'Fasilitas ' + ${fasilitas.namaFasilitas} + ' pada ruangan ' + ${ruangan.namaRuangan} + ' berhasil diedit'"></h1>
    <a th:href="@{/ruangan/view/{idRuangan}(idRuangan=${ruangan.idRuangan})}" th:text="'Lihat detail ruangan ' + ${ruangan.namaRuangan}"></a>
</div>
</body>
</html>